@import "variables";

.my-container{
    background-color: $main-container-background-color;
 }

.cardSpacing {
    margin-bottom: 60px;
}

.card {
    color: whitesmoke;
}

.wrestlerImage {
    width: 300px;
    height: 630px;
    -o-object-fit: cover;
    object-fit: cover;
}

.brandLogo {
    height: 60px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nxtLogo {
    height: auto;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 12px;
    padding-bottom: 10px; 
}

h5 {
    font-weight: bolder;
}

button {
    margin-left: 4px;
    margin-right: 4px;
}

.buttonStyle {
    background-color: black;
    border: 2px solid grey;
}


.myCustomMainColor {
    background-color: $wrestler-button-color-black;
    padding: 0%;
    border: none;
    margin-left: 0px;
    margin-right: 0px;
    outline-color: black;
    border-radius: 8px;
}

.myCustomColorGold:hover {
    background-color: $nxt-brand-color;
}

.myCustomColorRed:hover {
    background-color: $raw-brand-color;
}

.myCustomColorBlue:hover {
    background-color: $smackdown-brand-color;
}
