.my-container{
    background-color: rgba(0, 0, 0, 0.967);
 }


.cardSpacing {
    margin-bottom: 60px;
}

.card {
    color: whitesmoke;
}

.wrestlerImage {
    width: 300px;
    height: 630px;
    -o-object-fit: cover;
    object-fit: cover;
}

.brandLogo {
    height: 60px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nxtLogo {
    height: auto;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 12px;
    padding-bottom: 10px; 
}

h5 {
    font-weight: bolder;
}

button {
    margin-left: 4px;
    margin-right: 4px;
}

.buttonStyle {
    background-color: black;
    border: 2px solid grey;
}



.myCustomMainColor {
    background-color: rgba(6, 6, 6, 0.81);
    padding: 0%;
    border: none;
    margin-left: 0px;
    margin-right: 0px;
    outline-color: black;
    border-radius: 8px;
}

.myCustomColorGold:hover {
    background-color: rgb(155, 138, 52);
}

.myCustomColorRed:hover {
    background-color: rgba(150, 16, 16, 0.842);
}

.myCustomColorBlue:hover {
    background-color: rgba(31, 31, 228, 0.884);
}


