<div *ngIf="posts.length > 0">
    <div class="my-container">
        <div class="container p-5">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 cardSpacing" *ngFor="let post of posts">
                    <div class="card h-100 shadow-md" style="background-color: black"><hr>
                        <div *ngIf="post.brand === 'NXT'">
                            <img src="assets/images/brands/nxt.jpg" class="img-fluid nxtLogo">
                        </div>
                        <div *ngIf="post.brand === 'Raw'">
                            <img src="assets/images/brands/raw.jpg" class="img-fluid brandLogo">
                        </div>
                        <div *ngIf="post.brand === 'SmackDown'">
                            <img src="assets/images/brands/sd.jpg" class="img-fluid brandLogo">
                        </div><hr>
                        <button 
                            [ngClass]="customButtonContainingImage(post)"
                            (click)="openModal(post)">
                            <img [src]="post.imagePath" class="img-fluid wrestlerImage">
                        </button>
                        <div class="card-body">
                            <div class="card-text text-center">
                                <button class="btn btn-primary buttonStyle" (click)="onEdit(post.id)">
                                    EDIT
                                </button>
                                <button (click)="onDelete(post.id)" class="btn btn-danger buttonStyle">
                                    DELETE
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="posts.length <= 0">
    <div class="container">
        <h4 class="text-center p-5"><i>No Posts!</i></h4>
    </div>
</div>