$raw-brand-color: rgba(150, 16, 16, 0.842);
$smackdown-brand-color: rgba(31, 31, 228, 0.884);
$nxt-brand-color: rgb(155, 138, 52);
$wrestler-button-color-black: rgba(6, 6, 6, 0.81);
$main-container-background-color: rgba(0, 0, 0, 0.967)