@import "variables";

.brandLogo {
    display: inline;
    margin-left: 8px;
    height: 60px;
    width: auto;
}

.nxtLogo {
    height: auto;
    width: 120px;
    display: inline;
    margin-left: 8px;
}

.myCustomColorGold {
    background-color: $nxt-brand-color;
    border: 2px solid $nxt-brand-color;
}

.myCustomColorRed {
    background-color: $raw-brand-color;
    border: 2px solid $raw-brand-color;
    border-radius: 5px;
}

.myCustomColorBlue {
    background-color: $smackdown-brand-color;
    border: 2px solid $smackdown-brand-color;
}

.modal-content, .modal-body, .modal-footer {
    background-color: black;
    border: 1px solid black;
    color: whitesmoke;
}

.marginRight {
    margin-right: 10px;
}

.wrestlerImage {
    height: 400px;
    width: auto;
}

